/* Hero.css */
.hero-section {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    flex-direction: column; 
  }
  
  .hero-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .icon-wrapper {
    text-align: center;
    margin: 0 15px;
  }
  
  .hero-icons > .icon-wrapper p {
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .hero-section .btn-primary {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  